@font-face {
  font-family: Magra;
  src: url(./assets/fonts/magra/Magra-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url(./assets/fonts/red-hat-display/RedHatDisplay-Regular.ttf);
}

@font-face {
  font-family: Aleo;
  src: url(./assets/fonts/Aleo/Aleo-Regular.ttf);
}

@font-face {
  font-family: 'Aleo Bold';
  src: url(./assets/fonts/Aleo/Aleo-Bold.ttf);
}

@font-face {
  font-family: 'Aleo Bold Italic';
  src: url(./assets/fonts/Aleo/Aleo-BoldItalic.ttf);
}

@font-face {
  font-family: 'Aleo Italic';
  src: url(./assets/fonts/Aleo/Aleo-Italic.ttf);
}

:root {
  --header-height: 90px;
  --orange: #f2785c;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgba(13, 96, 111, 1);
  color: white;
  font-family: 'Red Hat Display';
  border-radius: 10px;
  border: none;
  outline: none;

  &:hover {
    transition-duration: 200ms;
    transition-delay: 50ms;
    color: var(--orange);
    cursor: pointer;
  }
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;

  &.not-active {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1200px;
  padding: 0 120px;

  @media (max-width: 390px) {
    padding: 0 15px;
  }
}

.header {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(242, 120, 92, 0.7), rgba(242, 120, 92, 0.7)),
    url(./assets/images/backgrounds/1440px/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg) top;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  height: var(--header-height);
  color: white;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 390px) {
    background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%);
    box-shadow: none;
  }
}

.burger-menu {
  display: none;
  position: fixed;
  align-self: flex-start;
  justify-content: flex-end;
  transform: translateX(96vw);
  background-color: rgba(0, 0, 0, 0);

  @media (max-width: 390px) {
    display: flex;
  }

  &.active {
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.3);
    transition-property: transform, background-color;
    transition-duration: 500ms, 200ms;
    transition-delay: 0s, 500ms;
    transition-timing-function: ease-in;
  }
}

.burger-menu__navigation {
  width: 165px;
  height: 250px;
  background-color: var(--orange);
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.burger-menu__list {
  list-style: none;
  color: #ffffff;
  margin: 0 12px 30px auto;
  text-align: right;
}

.header__logo {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-right: 38px;

  @media (max-width: 880px) {
    font-size: 24px;
    line-height: 30px;
    margin-right: 0px;
    margin-left: 10px;
  }

  @media (max-width: 650px) {
    width: 87px;
  }

  @media (max-width: 390px) {
    margin-left: 16px;
    margin-bottom: -1px;
  }
}

.header__logo > img {
  @media (max-width: 880px) {
    width: 20px;
  }

  @media (max-width: 390px) {
    width: 30px;
  }
}

.header__logo > span {
  @media (max-width: 390px) {
    display: none;
  }
}

.navbar {
  padding: 0 7px;

  @media (max-width: 390px) {
    display: none;
  }
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar__list {
  justify-content: flex-start;
  gap: 42px;

  @media (max-width: 650px) {
    display: initial;
  }
}

.navbar__link {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 21px;
  color: white;
  text-decoration: none;

  @media (max-width: 650px) {
    font-size: 12px;
    line-height: 20px;
  }

  @media (max-width: 390px) {
    font-size: 16px;
    line-height: 31px;
  }

  &:hover {
    transition-duration: 200ms;
    transition-delay: 100ms;
    text-decoration: underline;
    color: #0d606f;
  }
}

nav > img {
  @media (max-width: 390px) {
    width: 15px;
    margin: 15.5px 0 9px 18px;
  }
}

.login__button {
  @include button;

  font-size: 16px;
  padding: 10px 31px;
  margin-left: 75px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);

  @media (max-width: 880px) {
    margin-left: 30px;
    margin-right: 10px;
  }

  @media (max-width: 650px) {
    margin-left: 10px;
  }

  @media (max-width: 390px) {
    display: none;
  }
}

.burger-icon {
  display: none;

  @media (max-width: 390px) {
    display: initial;
  }
}

.preview {
  height: calc(765px - var(--header-height));
  background: url(./assets/images/backgrounds/1440px/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: var(--header-height);

  @media (max-width: 390px) {
    height: 251px;
    background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
      url(./assets/images/backgrounds/390px/garrett-parker-DlkF4-dbCOU-unsplash\ 2.jpg);
    background-repeat: no-repeat;
    position: relative;
  }
}

.planning {
  height: 391px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 120px;
  padding-top: 121px;

  @media (max-width: 1366px) {
    padding-left: 10px;
  }

  @media (max-width: 390px) {
    height: auto;
  }
}

h1 {
  font-family: Aleo;
  font-weight: 700;
  color: white;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 1px;
  margin: 0;
  max-width: 790px;

  @media (max-width: 390px) {
    display: none;
  }
}

.call {
  font-family: 'Aleo Italic';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;

  @media (max-width: 390px) {
    display: none;
  }
}

.search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  max-width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;

  @media (max-width: 390px) {
    max-width: 360px;
    margin-left: 5px;
    margin-top: 21px;
    height: 48px;
  }
}

.placeholder {
  font-family: 'Aleo Italic';
  font-size: 24px;
  color: var(--orange);
  padding-left: 41px;

  @media (max-width: 880px) {
    font-size: 18px;
  }

  @media (max-width: 390px) {
    font-size: 14px;
    line-height: 17px;
    padding-left: 16.55px;
  }
}

.search-field > button {
  @include button;

  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-right: 18px;
  max-height: 58px;
  padding: 13px 32px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);

  @media (max-width: 880px) {
    font-size: 18px;
    padding: 5px 25px;
    margin-right: 0px;
    line-height: initial;
  }

  @media (max-width: 390px) {
    font-size: 11px;
    line-height: 15px;
    padding: 7.5px 3.5px;
    margin-right: 9px;
    width: 92px;
    height: 30px;
    letter-spacing: 0.5px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 390px) {
    position: relative;
    bottom: 68px;
  }
}

.steps-390 {
  display: none;
}

.section-header {
  color: var(--orange);
  font-family: 'Red Hat Display';
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;

  @media (max-width: 880px) {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.3px;
  }

  @media (max-width: 390px) {
    font-size: 20px;
  }
}

.steps .section-header {
  margin: -10px 0 40px;

  @media (max-width: 390px) {
    margin: 8px 0 21px;
  }
}

.left {
  @media (max-width: 880px) {
    text-align: left;
  }
}

.center {
  @media (max-width: 880px) {
    text-align: center;
  }
}

.right {
  @media (max-width: 880px) {
    text-align: right;
  }
}

.icons {
  max-width: 1177px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 880px) {
    width: 93vw;
  }

  @media (max-width: 390px) {
    max-width: 360px;
  }
}

.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 880px) {
    max-width: 100px;
  }

  @media (max-width: 390px) {
    max-width: 80px;
  }
}

.icons > div:first-child {
  margin-right: 70px;

  @media (max-width: 880px) {
    margin-right: 0;
    align-items: flex-start;
  }
}

.icons > div:nth-child(2) {
  @media (max-width: 880px) {
    width: 150px;
  }

  @media (max-width: 390px) {
    max-width: 120px;
  }
}

.icons > div:last-child {
  @media (max-width: 880px) {
    align-items: flex-end;
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--orange);
  border-radius: 16px;

  @media (max-width: 390px) {
    width: 70px;
    height: 70px;
  }
}

.square > img {
  @media (max-width: 390px) {
    width: 35px;
  }
}

.caption {
  font-family: Aleo;
  font-size: 20px;
  color: #0d606f;
  margin-top: 30px;

  @media (max-width: 880px) {
    font-size: 10px;
  }

  @media (max-width: 390px) {
    margin-top: 19px;
  }
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media (max-width: 390px) {
    position: relative;
    bottom: 47px;
  }
}

.destinations button {
  @include button;

  margin-top: 40px;
  font-size: 24px;
  letter-spacing: 1px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  padding: 10px 31px;

  @media (max-width: 390px) {
    font-size: 11px;
    line-height: 15px;
    padding: 7.5px 3.5px;
    width: 92px;
    height: 30px;
    letter-spacing: 0.5px;
    margin-top: -24px;
  }
}

button img {
  padding-right: 10px;

  @media (max-width: 390px) {
    width: 10.75px;
    padding-right: 4px;
  }
}

.slider {
  display: flex;

  @media (max-width: 390px) {
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
    padding: 0;
  }
}

.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  transform: translateX(59.72vw);

  @media (max-width: 390px) {
    transform: translateX(0vw);
  }
}

.slider-list li {
  display: inline-block;
}

.destinations .section-header {
  margin-top: 97px;
  margin-bottom: 46px;

  @media (max-width: 390px) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.destinations > div:nth-child(2) {
  @media (max-width: 390px) {
    display: none;
  }
}

.destination {
  box-sizing: border-box;
  width: 59.72vw;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Display';
  color: white;
  font-size: 32px;
  letter-spacing: 1px;

  @media (max-width: 650px) {
    font-size: 16px;
  }

  @media (max-width: 390px) {
    width: 100vw;
    padding: 0 15px;
  }
}

.destination img {
  margin: 0 30px 24px;
  border-radius: 16px;

  @media (max-width: 390px) {
    margin: 0;
  }
}

.destination span {
  position: relative;
  height: 0;
  left: 45px;
  bottom: 107.5px;

  @media (max-width: 650px) {
    font-size: 60px;
  }

  @media (max-width: 390px) {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #ffffff;
    bottom: 51.8vw;
    left: 16px;
  }
}

.markers {
  display: flex;

  @media (max-width: 390px) {
    position: relative;
    z-index: 2;
    bottom: 20px;
  }
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 7px;
  background-color: rgba(242, 120, 92, 0.5);

  @media (max-width: 390px) {
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
}

.marker.active {
  background-color: var(--orange);
}

.slider.mobile {
  display: none;

  @media (max-width: 390px) {
    display: inherit;
  }
}

.arrows {
  display: none;

  @media (max-width: 390px) {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0 26px;
    position: relative;
    bottom: 126px;
  }
}

.arrow {
  color: #f2785c;
}

.non-active {
  color: rgba(242, 120, 92, 0.5);
}

.stories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 54px;
  background: url(./assets/images/backgrounds/1440px/Rectangle.jpg);
  background-blend-mode: color;

  @media (max-width: 390px) {
    padding-bottom: 0;
    background: url(./assets/images/backgrounds/390px/Rectangle\ 28.jpg);
  }
}

.stories {
  max-height: 1362px;

  @media (max-width: 880px) {
    height: auto;
  }
}

.tail {
  @media (max-width: 390px) {
    display: none;
  }
}

.stories .section-header {
  text-align: center;
  margin: 80px auto 39px;

  @media (max-width: 390px) {
    text-align: center;
    margin: -28px auto 10px;
  }
}

.story {
  display: flex;
  padding: 15px 120px;
  background-color: rgba(255, 255, 255, 0.7);

  @media (max-width: 1366px) {
    padding: 7.5px 15px;
  }
}

.img-1440px {
  @media (max-width: 390px) {
    display: none;
  }
}

.img-390px {
  display: none;

  @media (max-width: 390px) {
    display: initial;
  }
}

.stories-list .story:first-child {
  padding: 40px 120px 15px;

  @media (max-width: 1366px) {
    padding: 10px 15px 7.5px;
  }
}

.story img {
  filter: drop-shadow(0px 4px 4px #0d606f);
  border-radius: 16px;
  margin-right: 40px;

  @media (max-width: 880px) {
    height: 25vw;
    width: 40vw;
  }

  @media (max-width: 390px) {
    width: 155px;
    height: 130px;
    margin-right: 10px;
  }
}

article {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;

  @media (max-width: 1366px) {
    font-size: 9px;
    line-height: 10.8px;
  }
}

h3 {
  margin: 0 auto 24px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0d606f;

  @media (max-width: 1366px) {
    font-size: 11px;
    line-height: 13px;
    margin: 0 auto 10px;
  }

  @media (max-width: 390px) {
    margin: 5px auto 11px;
  }
}

div.story-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  height: 125px;

  @media (max-width: 390px) {
    height: 46px;
  }
}

.stories-list button {
  @include button;

  padding: 9px 38px;
  margin-bottom: 15px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;

  @media (max-width: 390px) {
    font-size: 11px;
    line-height: 15px;
    padding: 7.5px 3.5px;
    width: 92px;
    height: 30px;
    letter-spacing: 0.5px;
    margin-top: 6px;
  }
}

article a {
  color: inherit;
  letter-spacing: 0.5px;
}

article a:hover {
  transition-duration: 200ms;
  color: var(--orange);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background: url(./assets/images/backgrounds/1440px/Rectangle.jpg);
  background-position: bottom;

  @media (max-width: 880px) {
    justify-content: center;
  }

  @media (max-width: 390px) {
    height: 65px;
    background: url(./assets/images/backgrounds/390px/Rectangle\ 28.jpg);
    background-position: bottom;
  }
}

.empty {
  width: 161px;
  margin-left: 110px;

  @media (max-width: 880px) {
    display: none;
  }
}

.socialmedia-list {
  justify-content: space-between;
  width: 520px;
  margin-right: 110px;
  width: auto;

  @media (max-width: 880px) {
    margin: auto;
  }

  @media (max-width: 390px) {
    margin: 0 0 1px 9px;
  }
}

.socialmedia-list li {
  margin: 5px 10px 0;
}

footer p {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin-top: 21px;
  color: #ffffff;

  @media (max-width: 880px) {
    display: none;
  }
}

.pop-up-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-105vh);
  transition: 300ms;
}

.pop-up-wrapper.active {
  transform: translateY(50%);
  background-color: rgba(0, 0, 0, 0.3);
  transition-property: transform, background-color;
  transition-duration: 500ms, 200ms;
  transition-delay: 0s, 500ms;
  transition-timing-function: ease-in;
}

body.active {
  overflow: hidden;
}

.login-popup {
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 25px 45px 23px;
  width: 650px;
  background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  text-align: center;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  border: none;
  align-self: flex-start;

  @media (max-width: 390px) {
    width: 360px;
  }
}

.login-popup.show {
  display: flex;
}

.login-popup > h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;

  @media (max-width: 390px) {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.facebook-button {
  @include button;

  background: #1877f2;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 15px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}

.facebook-button > img {
  padding-right: 18px;

  @media (max-width: 390px) {
    width: 21.75px;
  }
}

.google-button > img {
  padding-right: 18px;

  @media (max-width: 390px) {
    width: 21.75px;
  }
}

.google-button {
  @include button;

  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #0d606f;
  padding: 15px 0;
  margin-bottom: 30px;
}

.or-line {
  display: flex;
  align-items: center;
  height: 20px;
}

.or-line > p {
  padding: 9px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
}

.line {
  box-sizing: border-box;
  height: 0;
  border: 1px solid rgba(13, 96, 111, 0.5);
}

.or-line > .line {
  width: 261px;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin: 13px 0 5px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d606f;
  text-align: left;
}

.field {
  font-size: 45px;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  margin-bottom: 8px;
}

.password.field {
  margin-bottom: 26px;
}

.sign-in-button {
  @include button;

  padding: 14px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}

.login-popup > a {
  text-align: center;
  letter-spacing: 0.3px;
  margin-bottom: 25px;
}

.login-popup > .line {
  width: 560px;
  margin-bottom: 20px;
}

.reg {
  display: flex;
  justify-content: center;
}

.reg > span {
  color: rgba(13, 96, 111, 0.5);
  letter-spacing: 0.3px;
  margin-bottom: 0px;
}

.restore-password {
  color: rgba(13, 96, 111, 1);
}

.restore-password:hover {
  color: rgba(242, 120, 92, 1);
  transition-duration: 200ms;
  transition-delay: 100ms;
}

.register-link {
  color: rgba(13, 96, 111, 1);
}

.register-link:hover {
  color: rgba(242, 120, 92, 1);
  transition-duration: 200ms;
  transition-delay: 100ms;
}
